*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

header{
    
}

header a{
    color:white;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(100, 70, 70);
    height: 8vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav_list{
    display:flex;
    list-style:none;
    transition: .2s;
}

.nav_list li{
    margin-left:32px;
    font-size: 24px;
    
}

main{ 
    background-size:cover;
    height: 92vh;
}
.logo{
    font-size:2em;
}

#hamburguer{
    cursor:pointer;
    display:none;
    background-color:white;
    color:white;
}

#hamburguer:hover{
    cursor:pointer;
}

a:hover{
    text-decoration:underline;
    transition:.5s;
}

.nav_list.active{
    transform: translateX(0)
}

@keyframes fade{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}
